<footer
	class="py-3 px-10 flex justify-center items-center absolute bottom-0 w-full z-40 text-gray-600 text-xs font-medium"
	id="landing-footer"
>
	<nav>
		<ul class="flex [&>li>a]:inline-block [&>li>a]:px-2 [&>li>a]:py-2">
			<li><a href="https://www.tesla.com/es_es/about" target="_blank">Tesla © 2023</a></li>
			<li><a href="https://www.tesla.com/es_es/legal" target="_blank">Privacidad y legal</a></li>
			<li><a href="https://www.tesla.com/es_es/contact" target="_blank">Contacto</a></li>
			<li><a href="https://www.tesla.com/es_es/blog" target="_blank">Noticias</a></li>
			<li><a href="https://www.tesla.com/es_es/updates" target="_blank">Seguir informado</a></li>
			<li><a href="https://www.tesla.com/es_es/findus/list" target="_blank">Localización de tiendas</a></li>
		</ul>
	</nav>
</footer>